@import "../global/global";
header {

    position: absolute;
    top: 23px;
    width: 100%;
    z-index: 1;
    @include _minWidthTablet {
        top: 54px;       
    }
    .header__wrapper {
        @include _container;
        display: flex;
    }
    .cta__signin {
        cursor: pointer;
        background: transparent;
        border: 0px;
        color: white;
        cursor: pointer;
        font-family: "Nunito";
        font-size: 12px;
        max-height: 40px;
        transition: all .1s ease-in-out;
        &:hover {
            color: $yellow;
        }
        @include _minWidthTablet {
            font-size: 16px;
        }
    }
    .cta__signup {
        background: $yellow;
        border: 2px solid $yellow;
        border: 0px;
        border-radius: 4px;
        color: white;
        cursor: pointer;
        font-family: "Nunito";
        font-size: 12px;
        margin-left: 2vw;
        max-height: 40px;
        padding: 5px 14px;
        transition: all .1s ease-in-out;
        &:hover {
            border: 2px solid $yellow;
            background: $red;
            color: $yellow;
        }
        @include _minWidthTablet {
            font-size: 16px;
            padding: 11px 34px 8px 30px;
        }
    }
}