@import "../global/global";

.logo {
    display: block;
    margin-right: auto;
    img {
        width: 44vw;
        height: auto;
        @include _minWidthTablet {
            width: 29vw;
        }
    }
}