@import "../global/global";


.multi-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex:1;
    justify-content: space-between;
    padding-left: 0;
    @include _minWidthTablet {
        flex-direction: row;
        padding-left: _toVW(67);
    }
    .column {
        margin-bottom: 21px;
        width: 100%;
        &.genius {
            order: 1;
            @include _minWidthTablet {
                order: revert;
            }   
        }
        &.engineer {
            order: 3;
            @include _minWidthTablet {
                order: revert;
            }
        }
        &.business {
            order: 4;
            @include _minWidthTablet {
                order: revert;
            }
        }
        &.tactician {
            order: 2;
            @include _minWidthTablet {
                order: revert;
            }
        }
        @include _minWidthTablet {
            max-width: 21vw;
            margin-bottom: 0px;
        }
        .column__title {
            font-family: "Ropa Sans";
            font-size: 20px;
            font-weight: normal;
        }
        .column__copy {
            color: $grey;
            font-family: "Nunito";
            font-size: 16px;
        }
    }
}