@font-face {
    font-family: "Nunito";
    src: url("../../fonts/Nunito/Nunito-Regular.ttf") format("truetype");
    font-weight: 400;
    font-stretch: normal;
    unicode-range: U+0020-00fe;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Ropa Sans";
    src: url("../../fonts/Ropa_Sans/RopaSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-stretch: normal;
    unicode-range: U+0020-00fe;
    font-display: swap;
  }