// COLORS
$yellow: #F4BC00;
$red: #CC3332;
$grey: #808080;
$white: #ffffff;
$black: #000000;

// BREAKPOINTS
$xxsmall: 380px;
$xsmall: 480px;
$small: 600px;
$mobile: 768px;
$tablet: 1026px;
$medium: 1180px;
$large: 1300px;
$xlarge: 1450px;
$xxlarge: 1600px;